.generate {
	padding: 10px;
	color: #fff;
	background-color: #213DD6;
	cursor: pointer
}
.generate:hover {
	transform: scale(1.05);
}

.main {
	text-align: center;
	padding: 10px;
}

canvas {
	border: 1px solid #000;
}

#container > .canvas-container {
	display: inline-block;
	margin: 10px;
}

#container {
	width: 700px;
	margin: auto;
}

.buttonsContainer {
	margin: 20px;
}

.insert {
	background-color: #213DD6;
	padding: 5px;
	color: #fff;
	margin-left: 20px;
	cursor: pointer;
}
.insert:hover {
	transform: scale(1.05);
}

#canvasNumber {
	padding: 5px;
	background-color: lightgray;
	cursor: pointer;
}